.NavCart {
    right: 3rem;
    bottom: 4rem;
    cursor: pointer
}

.NavCart svg {
    color: rgb(44, 44, 44);
    font-size: 2.8rem;
}

.NavCart span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:black;
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
    position: absolute;
    right: -0.8rem;
    top: -0.1rem;
    background-color: rgb(95, 196, 255);
    line-height: 0;
}